#wrapper {
     width: 1100px;
     margin: 0 auto;
     padding: 0;
     overflow: auto;
}

#curve_chart {
     width: 60%;
     height: 500px;
     float: left;
     overflow: hidden;
}

#table_div {
     height: 500px;
}