<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>WebCSV | Home</title>
    <link rel="stylesheet" th:href="@{/home.css}"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" th:inline="javascript">
      // wykres zywcem skopiowany z google chartsow
      google.charts.load('current', {'packages':['corechart','table']});
      // Set a callback to run when the Google Visualization API is loaded - can't be more than one method
      google.charts.setOnLoadCallback(init);

      function drawChart(start, stop) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Rok');
        data.addColumn('number', 'Kwota');
        var list = [[${data}]];
        if (typeof start != 'undefined'){
         if (typeof stop != 'undefined'){
          list = list.slice(start, stop + 1);
        }}
        for (val of list){
        data.addRow([val.date, val.value]);
        }
        var options = {
          title: 'Fundusz inwestycyjny',
          curveType: 'function',
          legend: { position: 'bottom' }
        };
        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        chart.draw(data, options);

      }

      function drawTable(start, stop) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Rok');
        data.addColumn('number', 'Kwota');
        var list = [[${data}]];
        if (typeof start != 'undefined'){
         if (typeof stop != 'undefined'){
          list = list.slice(start, stop + 1);
        }}
        for (val of list){
        data.addRow([val.date, val.value]);
        }
        var table = new google.visualization.Table(document.getElementById('table_div'));
        table.draw(data, {showRowNumber: true, width: '20%', height: '20%'});
      }

      function init(){

        drawChart();
        drawTable();

       }
    </script>
</head>
<body>

<div>
    <label for="lowerBound"> Data poczatkowa </label>
    <select id="lowerBound">
        <option th:each="data : ${data}" th:value="${data.date}" th:text="${data.date}"/>
    </select >
</div>
<div>
    <label for="upperBound"> Data koncowa </label>
    <select id="upperBound">
        <option th:each="data : ${data}" th:value="${data.date}" th:text="${data.date}"/>
    </select >
</div>

<button type="button" onclick="changeRange()">Zmien zakres</button>
<script th:inline="javascript">
function changeRange() {

    var lowerBound = document.getElementById("lowerBound").value;
    var upperBound = document.getElementById("upperBound").value;
    var list = [[${data}]];
    for (val of list){
    if (val.date == lowerBound) lowerBound = list.indexOf(val);
    if (val.date == upperBound) upperBound = list.indexOf(val);
    }
    drawChart(lowerBound, upperBound);
    drawTable(lowerBound, upperBound);

}
</script>

<div id="wrapper">
    <div id="curve_chart">
    </div>
    <div id="table_div">
    </div>
</div>

<h1>Porownaj</h1>
<!--odebranie obiektu POJO transfer i przypisaniu jego polom wastości z inputów i list-->
<form action="#" th:action="@{/compare}" th:object="${transfer}" method="post">
    <div>
        <label for="investmentAmount"> Kwota inwestycji </label>
        <input id="investmentAmount" type="number" th:field="*{investmentAmount}" required = "required"/>
    </div>
        <label for="depositPercentage"> Oprocentowanie lokaty %</label>
        <input id="depositPercentage" type="number" th:field="*{depositPercentage}" required = "required"/>
    <div>
        <label for="compareLowerBound"> Data poczatkowa </label>
        <select id="compareLowerBound" th:field="*{dateBegin}">
            <option th:each="data : ${data}" th:value="${data.date}" th:text="${data.date}"/>
        </select >
    </div>
    <div>
        <label for="compareUpperBound"> Data koncowa </label>
        <select id="compareUpperBound" th:field="*{dateEnd}">
            <option th:each="data : ${data}" th:value="${data.date}" th:text="${data.date}"/>
        </select >
    </div>
    <!--button submit wywoła th:action="@{/compare}-->
    <input type="submit"/>
</form>

</body>
</html>